[2017-01-24 08:22] tompaana opened #1 "Implement basic persistent storage for routing data"
Implement IRoutingDataManager interface using Azure Table Storage services. No caching required.

[2017-01-24 08:25] tompaana opened #2 "Remove magic strings from essential classes by using events"
MessageRoutingManager class should not send messages to users itself. Instead it should rely on event handlers to do that. For example, the class should have an InitiateEngagementResult event that is handled by a separate event handler to notify users.

[2017-01-24 08:27] tompaana opened #3 "Provide default implementation for webchat support"
This sample should provide a default implementation for webchat used by agents. This would be a case where "aggregation" is not required.

[2017-01-24 08:31] tompaana opened #4 "Revisit API definition"
Evaluate the current message routing API. The API should be as clear and simple to make the reuse of the code as painless as possible. Should we position the message routing closer to middleware model?

[2017-01-26 14:16] tompaana opened #5 "Add timestamps to Party class"
It might be useful to know the times of different events, for example, how long a person has been waiting for his/her request to be approved.

[2017-01-26 14:17] tompaana commented on #2
This issue is fixed in development branch.

[2017-01-26 14:17] #2 closed

[2017-01-26 15:37] tompaana commented on #4
This is not far from done (in development branch currently), but I'll let this issue wait for review before closing.

[2017-01-26 15:41] tompaana commented on #3
In nutshell:
1. MessageRouterManager.InitiateEngagementAsync -> signal sent to webchat
2. Webchat accepts -> special message sent to bot (MessageRouterManager) -> MessageRouterManager parses the message, uses the data to call AddEngagementAsync
3. Profit???

[2017-02-04 23:40] tompaana commented on #3
Closing this as basic integration with Agent UI is done.

[2017-02-04 23:40] #3 closed

[2017-02-27 02:25] justinvan0603 opened #7 "Agent UI without using NodeJS"
Greeting @tompaana, I'm new at Bot framework and I have a plan to do my bot project like your Scenario 2. But I wonder that Instead use Agent UI built in NodeJS, can I just return an <iframe> to my agent for opening a new chat control to communicate with each customer if they want to talk with the agent not with the Bot?

[2017-02-28 09:15] tompaana commented on #7
Hi and thanks for the input! This has, more or less, been on my backlog and I'll try to address this as soon as possible. However, I don't mind receiving pull requests in case this is something you'd like to contribute. Cheers!

[2017-02-28 09:35] justinvan0603 commented on #7
Hello, thanks for your answer. I've researched more and I've got my idea to implement my plan. One more question when I was testing your Bot project was: What happen if I have many Agents and how can I route the Customer's message to specific Agent in situation that "Agent 1" is busy and "Agent 2, 3 or..." is free to talk? Is that according to the AgentID?

[2017-02-28 10:51] tompaana commented on #7
In short: The sample doesn't care how you handle that - it's up to your "agent UI".

The way it behaves now is:

1. Agent UI checks for pending requests (in AgentController.cs) and serves the first request it sees
2. Agent UI then sends a backchannel message to the bot and establishes the engagement (see https://github.com/tompaana/intermediator-bot-sample/blob/master/IntermediatorBotSample/Messag

[2017-02-28 12:20] justinvan0603 commented on #7
okay, as you've explained to me, as I understood that which Agent will be received message totally depend on how I implement the Agent UI as the sample you've attached in the post?

[2017-02-28 13:12] tompaana commented on #7
That's right. Basically the one (agent, instance, web app, whatever) who sends the backchannel message, will own that conversation.

[2017-02-28 13:15] justinvan0603 commented on #7
okay, thanks for your explaination. It helps me lots.

[2017-03-03 01:18] justinvan0603 opened #8 "Identify conversation end and clean it automatically"
Hello @tompaana ,I've taken more time to research your sample. And I've found that the bot seem doesn't know when the conversation is end. I'm thinking of the issue when we are going to make it in long running (the memory may run-off) even though we store it in table such as Azure Table but it still reduncdant to store something we won't use it again. So is there any idea to handle this situation?

[2017-03-03 11:59] tompaana commented on #8
At the moment you should think of `MessageRouterManager` as the main API you use in your bot. You can end the conversation by calling [EndEngagementAsync](https://github.com/tompaana/intermediator-bot-sample/blob/master/IntermediatorBotSample/MessageRouting/MessageRouterManager.cs#L380) method. `RemoveParty` will have the same effect.

For demonstrative purposes the `DefaultBotCommandHandler` can

[2017-03-05 01:38] justinvan0603 commented on #8
Hi @tompaana, right now, i'm trying to make an Agent UI project that connect with the Bot by that way:
1. The customer ask the bot to meet Agent
2. The bot using SignalR to notify the Agent to Create a Chat control
3. Now the Bot will work as a middle men between Agent and Customer till it recognize the conversation is ended.
In my point of view, if we build an Agent UI that connect by looping req

[2017-06-30 13:42] sayyednazeer opened #9 "TRANSFER THE CONVERSATION FROM BOT TO THE AGENT"
@tompaana i am using .NET SDK

How can i transfer the conversation which i have done with bot to the agent when i get connected with agent.

[2017-07-06 07:57] tompaana commented on #9
I'm afraid I fail to understand the issue. Could you please elaborate a bit? Are there some problems in the steps described in the README?

[2017-07-15 21:20] valnav commented on #7
@justinvan0603  So how did you achieve the agent ui, i have a similar issue. any pointers will be helpful.

[2017-07-15 23:13] valnav opened #11 "The agent doesn't get the connected message even though ui gets refreshed"
Agent UI Does get refreshed when the user types human. But, the message to the agent saying that he is connected to the user. So the user is still awaiting to get accepted. I am doing scenario 2 which is the agent ui.

Update: MessageRouterResult result = await MessageRouterManager.Instance.HandleActivityAsync(activity, **true**); I changed this from **"false"** to **true** and then the agent was

[2017-07-17 07:39] praveens3190 opened #12 "Unable to start communication after accept the chat initialized by users."
For the logged in Agent , Accept or Reject Message is Shown , but once click on Accept.Communication was not start with user, and for user "Please wait for your request to be accepted" message is shown for user. Which method i needs to call after Click on Accept.

[2017-07-20 05:45] valnav commented on #11
fixed.
Update 3: Never mind, i figured it out. it was related to some backchannel issue. i cant remember, but it was either i was http instead of https or ngrok url error

[2017-07-20 05:45] #11 closed

[2017-07-20 05:46] valnav opened #13 "can i Initiate a chat from the agent end by initiateengagementasync instead of the user"

[2017-07-24 12:27] SamaraSara opened #14 "Unable to call the Agent from the Bot"
Hello there and thanks for this project .
I have tested Scenario 1 (Channel to Channel ) and it worked successfully.
For Scenario 2, I have added the bot endpoint and the direct line key and I managed to install the npm, build and run the Agent UI . It runs on the http://localhost:8080 with a white screen having only Agent UI text in it. I can't seem to find where to make the request for the agent

[2017-08-02 01:34] ronnelsantiago commented on #14
I'm having the same issue.. I can only see blank screen

[2017-08-04 14:12] daltskin commented on #14
The agent UI polls the bot API endpoint eg:

setInterval(() =>
    fetch("http://803705b8.ngrok.io/api/agent/1")

So make sure you've updated the index.ts file within the agent codebase to your endpoint.

When it's working should look like this: https://

msdnshared.blob.core.windows.net/media/2017/08/Bot-HandOff2.gif

[2017-08-08 08:46] SamaraSara commented on #14
I did that but cors is not enabled and the chat interface doesn't show.
I get a blank screen with this detected error:

No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://192.168.1.20:8080' is therefore not allowed access. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

[2017-08-08 13:42] daltskin commented on #14
You'll need to enable CORS.  In your webconfig.cs
Register(....)
            config.EnableCors();

Agent controller already has attributes eg:

        [EnableCors("*", "*", "*")]
        public string GetAgentById(int id)

https://github.com/tompaana/intermediator-bot-sample/blob/master/IntermediatorBotSample/Controllers/AgentController.cs

[2017-08-08 13:55] SamaraSara commented on #14
Yes. I have done so ... and now the Chat screen interface appears when a request to human assistance is made but after that the messages are not forwarded between them.

[2017-08-08 16:08] daltskin commented on #14
What channel are you using to request the agent/human assistance?  Try using Slack.

Also, when everything is running - type "command reset" to clear down any routing state.

[2017-08-10 15:32] carlosmorgado commented on #14
I have had the same problem exchanging messages between the Agent UI and Client asking for human assistance, the messages just seam to not go through.

[2017-08-10 17:11] daltskin commented on #14
@SamaraSara, @carlosmorgado I've put a blog post together on how to set this up with a video sample for both scenarios.  Agent UI sample includes the setup required to get this up and running.  Hopefully this helps you both: [https://blogs.msdn.microsoft.com/jamiedalton/2017/08/10/microsoft-bot-framework-handing-off-to-a-human-for-agentssupervisors-with-c-and-the-botbuilder-sdk/](https://blogs.msd

[2017-08-11 12:45] carlosmorgado commented on #14
I followed everything you did and still can't trade messages between the Agent and the Client

[2017-08-11 13:06] daltskin commented on #14
Are you receiving basic echo messages back from the bot ok as an end-user?

Assuming you've definitely modified the index.ts file with the Agent code (not the index.js), built then run?

If you put a breakpoint in the AgentController - it should get hit every 3 seconds or so (polling)

[2017-08-14 06:23] GioviQ opened #16 "Security"
Anyone you send "@BOT_NAME add aggregation" can become an agent?

[2017-08-17 08:57] daltskin commented on #16
The DefaultBotHandler has no authorisation built in, you would have to add your own based on what security rules you needed. eg. Adding in AAD auth using https://github.com/MicrosoftDX/AuthBot and then AD group lookup.  Or you may have other rules on who can be an agent based on channel, usernames etc..

[2017-08-17 13:40] GioviQ commented on #16
Thanks

[2017-08-17 17:11] #4 closed

[2017-08-18 07:56] daltskin commented on #14
@carlosmorgado, @SamaraSara any updates? or can I close this issue?

[2017-08-18 07:59] garypretty commented on #16
@GioviQ @daltskin I have added the ability to specify permitted agent channels, so you can prevent commands from being used on non-permitted channels. You can specify a list of channel IDs in the web.config in the PermittedAgentChannels app setting. e.g. you might permit agent commands on Slack only. If the app setting value is empty or doesn't exist then all channels will accept commands

This is

[2017-08-18 08:09] daltskin commented on #16
@garypretty that'll help for simple understanding of how it can be locked down.  Would be worth adding in userid's for the given channel as well as all users & agents likely to be on same channel for many scenarios.

[2017-08-18 08:25] garypretty commented on #16
Agreed. I'll add that later today if I get time.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 08:47] GioviQ commented on #16
Maybe a password request would be a better solution, when you send "command add aggregation" (mentions do not work on Telegram and Messenger).
I tried also to match my Facebook ID, but Bot Framework gives me a different ID.

[2017-08-18 10:02] tompaana commented on #16
Just to clarify: When I originally created the commands it was just so that it would be easy to take the bot "out for a spin". The means for managing the bot in production was left for the developer - including the security.

That said, I don't mind, at all, if we build a more secure way here as long as it doesn't make the sample harder to understand.

[2017-08-18 10:06] garypretty commented on #16
@tompaana I think as long as we document any changes it will be fine. I can easily see people taking the sample and using it as is to integrate it into their bots to handle handoff, so I think it is important to be adding things like this. @daltskin thoughts?

[2017-08-18 10:11] garypretty commented on #16
@tompaana @daltskin also on the topic of security, I think I am pretty happy to just included allowed channels / agent user ids right now. The only obvious next step would be to use a signin card, but not yet :)

[2017-08-18 10:13] daltskin commented on #16
I think we need to at least include a basic security option, as it is an obvious question to raise.  Which is what @garypretty has worked on.  But I'd like to see a sign-in card ideally.  Also, need to handle one agent hijacking/taking over from another - this may be desirable in some situations on channel <-> scenario.

[2017-08-18 10:15] daltskin commented on #16
^ really need some unit tests for this :)

[2017-08-18 10:16] tompaana commented on #16
@garypretty @daltskin You do make an excellent point/points.

[2017-08-18 10:24] garypretty commented on #16
@daltskin @tompaana what's your unit test framework of choice if we did implement any tests?

[2017-08-18 10:53] tompaana commented on #16
@garypretty I don't have a personal preference and, to be honest, I've never written any tests for bots. I think this might be a good starting point: https://stackoverflow.com/a/41349523/3323695

[2017-08-18 10:56] daltskin commented on #16
Some testing resources here: https://blogs.msdn.microsoft.com/jamiedalton/2017/08/07/devops-for-bots-sprinkling-some-devops-on-your-bot/

[2017-08-18 10:57] garypretty commented on #16
@tompaana me neither, but there is a devops for bots series on channel 9 which discuss this as well

[2017-08-18 10:57] garypretty commented on #16
@daltskin good timing!

[2017-08-18 12:13] tompaana commented on #1
Moved to https://github.com/tompaana/bot-message-routing/issues/2

[2017-08-18 12:13] #1 closed

[2017-08-18 12:14] tompaana opened #20 "Move all strings to resource file(s)"
This would enable localization and is just a good practice.

[2017-08-18 12:17] tompaana opened #21 "Message routing fails for some channels"
Copied from https://github.com/tompaana/bot-message-routing/issues/1, reported by [Edward Bakker](https://github.com/edwardbakker)

"Message routing fails when using the combination of Messenger and Skype.
Example:
Messenger : Customer Service Agent
Skype: Customer

* In Messenger use "command add aggregation" to aggregate all request.
* In Skype request for User Handoff.
* Conversation between Se

[2017-08-18 12:19] tompaana commented on #21
Actually I just realized this is the core project bug if any, but let's keep this here (too) until the fix is verified.

[2017-08-18 12:20] garypretty commented on #9
Closing this for now. @sayyednazeer feel free to re-open if you have not resolved the issue.

[2017-08-18 12:20] #9 closed

[2017-08-18 12:25] garypretty commented on #12
I think this might be connected to #21. Ill close this for now. Please re-open if you are still experiencing issues.

[2017-08-18 12:25] #12 closed

[2017-08-18 12:40] garypretty opened #22 "Add allowed agents to compliment allowed agent channels"

[2017-08-18 12:41] garypretty commented on #22
Realised this is a duplicate. Closing.

[2017-08-18 12:41] #22 closed

[2017-08-18 12:43] garypretty commented on #5
I have a few ideas to utilise these timestamps so keep me updated when you add them :)

[2017-08-18 13:26] tompaana commented on #5
Implemented in https://github.com/tompaana/bot-message-routing/commit/a0f19f04c9520bb623e29d45f6fe9b5ddc2dab1e

Not tested yet though.

[2017-08-18 13:26] #5 closed

[2017-08-18 13:29] tompaana commented on #14
Thank you @SamaraSara, @carlosmorgado and especially @daltskin! Closing this issue - reopen if the problem persists.

[2017-08-18 13:29] #14 closed

[2017-08-18 13:31] tompaana commented on #13
@valnav Could you please elaborate? I'm not sure completely sure what you mean by this.

[2017-08-18 13:33] tompaana commented on #8
I think we should add a backchannel interface similar to command handling. This would enable things like agent UI to directly control the bot i.e. you could have buttons like "disconnect" in the agent UI to end an engagement etc.

[2017-08-22 17:10] daltskin commented on #20
@garypretty - this should help.  You can test by changing the Emulator connection locale to Fr and then typing any old text to the bot - it will use the correct resources file automatically from the activity.locale

[2017-08-22 17:12] garypretty commented on #20
Brilliant, thanks, will take a look.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jamie D <notifications@github.com>
Sent: Tuesday, August 22, 2017 6:10:05 PM
To: tompaana/intermediator-bot-sample
Cc: Gary Pretty; Mention
Subject: Re: [tompaana/intermediator-bot-sample] Move all strings to resource file(s) (#20)

@garypretty<https://github.com/garypretty>

[2017-08-29 14:50] #13 closed

[2017-11-18 03:19] dzeping96 opened #24 "Message routing fail if using Skype as Agent"
Sorry for my English first..

Skype: Customer Agent
Bot Emulator: User

I found out that when I am using Skype as Agent, it unable to reply message to User, but I can receive message from User. If I am using other Channel other than Skype as Agent, it working fine. And also, I tried to use Bot Emulator as Agent and Skype as User, it is working fine too. I found out the problem is because of this p

[2017-11-19 09:54] tompaana commented on #24
Thank you for reporting this and for the precise issue description! This is an obvious bug that needs to be fixed.

[2017-11-19 10:23] daltskin commented on #24
Thought I'd fixed this a while back? https://github.com/tompaana/intermediator-bot-sample/commit/a19b34df7c0bfeedf6d0b4d357590b3c64bc8230

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tomi Paananen <notifications@github.com>
Sent: Sunday, November 19, 2017 9:54:25 AM
To: tompaana/intermediator-bot-sample
Cc: Subscribed
Subject: Re: [tompaana/intermediator-bot-s

[2017-11-19 10:27] tompaana commented on #24
@daltskin Unfortunately that fix broke the functionality for many other channels. I didn't just revert the changes, but added a special case in the code for Skype, but must've missed to test the case where Skype is the agent channel.

[2017-11-19 11:13] daltskin commented on #24
Hmm. Does highlight the challenge around channel testing.   Labouriois without unit tests!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tomi Paananen <notifications@github.com>
Sent: Sunday, November 19, 2017 10:27:15 AM
To: tompaana/intermediator-bot-sample
Cc: Jamie D; Mention
Subject: Re: [tompaana/intermediator-bot-sample] Message routing fail if using Sky

[2017-11-19 11:29] tompaana commented on #24
@daltskin Indeed.

[2017-11-20 01:50] dzeping96 commented on #24
@tompaana
No problem. I will wait for your fix. Thank you so much!

[2017-11-21 07:14] dzeping96 commented on #24
Hi @tompaana,

FYI, I found out another problem, which after I publish the sample to **Azure App Service plan** with **Release** configuration, the Skype channel won't reply anything at all, it still working fine on any other channel. Is this related with the bug I mentioned in this topic? Thanks!

[2017-11-21 08:05] daltskin commented on #24
There are some conditional #debug statements, could be related...

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: dzeping96 <notifications@github.com>
Sent: Tuesday, November 21, 2017 7:14:15 AM
To: tompaana/intermediator-bot-sample
Cc: Jamie D; Mention
Subject: Re: [tompaana/intermediator-bot-sample] Message routing fail if using Skype as Agent (#24)

Hi @tompaa

[2017-11-22 02:01] dzeping96 commented on #24
Hi @daltskin,

Thanks for your assisting, I just found out that Skype require some time to let the Channel online after switching endpoint. Thanks!

[2017-12-07 20:58] jmmcreynolds opened #25 "Unable to cancel pending request in Skype"
I sent a request for human assistance from my Skype account to the bot, but no one was watching for requests and now Skype is stuck and I cannot issue any more requests for help from Skype. Every time I type "human" I get the following reply:

"Your request has already been receieved and we are waiting for an agent to respond"

How can I reset the session so that I can issue a request for human as

[2017-12-07 23:32] jmmcreynolds commented on #25
Looks like I missed uncommenting one of the debug commands. After running " /deleteprofile", followed by "command reset" the request is cleared and I can send another one.

[2017-12-07 23:32] #25 closed

[2017-12-08 07:51] tompaana commented on #25
@jmmcreynolds No worries, thanks anyways :)

[2018-01-23 23:27] miteshpatekar commented on #21
I am facing this issue connecting direct line to fb messenger. Connection is established and the user is able to send the message to agent, but agent's response is not received back.  Is it fixed ?

[2018-01-24 17:22] tompaana opened #27 "Implement proper call center support (scenario 2)"
The main README describes scenario 2: Channel <-> call center (agent UI).

However, the agent UI is very basic and doesn't really provide much features to support a proper scenario. For instance, the requests are accepted as they come in and there is no way to close the webchat windows.

The minimum requirements for a new agent UI:
* (I'd like to see this) implemented with Node and Typescript simi

[2018-01-24 18:11] tompaana commented on #20
Done in commit 8a41c97ccea5bc0e654d5de1d829a25c6dc431d9

[2018-01-24 18:11] #20 closed

[2018-01-25 15:54] tompaana commented on #24
Fixed in commit 49c7f08c10da4c6004ff4dad735ba18cc86972cd

[2018-01-25 15:54] #24 closed

[2018-01-25 15:55] tompaana commented on #21
Fixed in commit 49c7f08c10da4c6004ff4dad735ba18cc86972cd

Channels tested to work: (Emulator), Facebook, Skype, Slack and Teams.

[2018-01-25 15:55] #21 closed

[2018-01-25 17:55] miteshpatekar commented on #21
Thank you @tompaana . I just tested with new version and 2-way communication works for FB messenger.
Great stuff !!

[2018-01-26 09:35] tompaana commented on #21
Thanks for verifying! Was about time to get this fixed anyway.

[2018-01-26 10:26] sky5005e opened #30 "Need similar feature like Facebook chat window provide for different user chat by agent"
Hello Tomi,

Thank you for your reply,
I have one more concern, it is possible to open new window for Agent Command Watch in webchat if new human assistant request comes from any user, and in the old window it will continued to chat with old user
I really appreciated.
Thanks

[2018-01-26 10:31] tompaana commented on #30
Hi,

I don't think scenario 1 (channel to channel) should be made more complex **in this sample**. That said, scenario 2 needs some work - see issue #27

Cheers,
Tomi

[2018-01-26 10:31] #30 closed

[2018-02-28 09:04] 20112077 opened #31 "Azure table storage error"
I added the azure table connection string in the web.config file and now I get this error message:
[Error; ; ; [https://directline.botframework.com/; directline; {userid; Customer}; {JNChIJHE888G0mJ2PgfFa4; }]; Failed to add the pending request – this is likely an error caused by the storage implementation]

In the storage account there is a table created,  but there are no columns there.

[2018-02-28 10:34] tompaana commented on #31
Silly question, but I need to be sure: Are you using the latest version in the master branch?

[2018-02-28 13:34] 20112077 commented on #31
I am using the latest version and the master branch

[2018-03-01 08:01] tompaana commented on #31
There's not enough details here for me to know what's wrong. I suggest you remove the message routing nuget package and get the [Bot Message Routing project](https://github.com/tompaana/bot-message-routing) source code and reference it in the bot project directly. Then you can debug what's happening with the table storage implementation.

[2018-03-02 08:48] 20112077 commented on #31
I tried like you told me to do. A table is created, but then it fails at this function:

[code]

Would it help when I send you the table connection string?

[2018-03-06 09:28] tompaana commented on #31
I thank you for your trust, but please don't send me your connection string. The exception details might help though.

[2018-03-06 09:33] 20112077 commented on #31
This would be the visual studio output:
Using Azure Table Storage for the bot state
"iisexpress.exe" (CLR v4.0.30319: /LM/W3SVC/2/ROOT-1-131648023432320161): "C:\WINDOWS\Microsoft.Net\assembly\GAC_MSIL\System.Numerics\v4.0_4.0.0.0__b77a5c561934e089\System.Numerics.dll" geladen. PDB-Datei wurde nicht gefunden oder konnte nicht geöffnet werden.
Ausnahme ausgelöst: "System.Net.WebException" in System

[2018-03-06 17:06] 20112077 commented on #31
Today I tried again with a fresh download and I got it working. I restored and updated the Nuget packages the last time I tried. But when you update the NuGet packages it stops working for me.

[2018-03-06 17:13] tompaana commented on #31
Good to hear! (Especially since I'm quite busy :)) I'll close the issue. Reopen if the problem reappears.

[2018-03-06 17:13] #31 closed

[2018-03-06 17:14] 20112077 commented on #31
Will the sample be updated with the newest NuGet Packages at some point?

[2018-03-07 08:10] tompaana commented on #31
As soon as possible given that I don't forget. Really busy now, sorry!

[2018-03-19 12:46] prats69 commented on #27
I want to add the bot to the slack channel and it should respond to everyone in the channel and send their message to the skype account. Can you point me in the right direction? I tried to do some things but I got lost in the routermanager.

[2018-03-19 12:55] tompaana commented on #27
@prats69

In a nutshell:
1. Make Skype the aggregation channel (`MessageRouterManager.RoutingDataManager.AddAggregationChannel()`)
2. Call `MessageRouterManager.ConnectAsync()` for all parties (in Slack) whose messages you want to send to Skype.

[2018-03-19 12:58] prats69 commented on #27
Can you add me on skype: pratik.malhotra

[2018-03-26 18:21] JohnGalt1717 opened #32 "Guidance On Dynamic Routing"
Similar to how Skype works where you can call anyone and start a chat I'd like to do the same, except in this case my bot will play matchmaker.

I'm trying to figure out how to alter this sample so that instead of it just listening in one channel that I can initiate a conversation with someone else that's online and join them to another caller.

Basically this:

I need a human
<Bot figure out what

[2018-04-17 13:27] smartchatco opened #33 "Skype agent "disconnects" until "waken up" by agent chatting with the bot"
After much testing, on two different instances of this project, it seems at least to me that after listening on the skype channel for more than 24 hours, skype will temporarily disconnect if there is no messages sent from the skype agent to the bot.

So what happens is if there has been no activity, the agent is still listening on skype after a day, and then all of a sudden say someone on the webc

[2018-04-18 12:05] tompaana commented on #33
@smartchatco Good catch, thanks! Would timeouts for requests and connections fix the issue? We could have something like `MessageRouterManager.CleanExpiredRequestsAndConnections()` method.

[2018-04-18 12:06] tompaana commented on #33
There will be a massive overhaul to this project happening next week - this will be one issue that must be fixed.

[2018-04-18 12:13] tompaana commented on #32
How about adding additional information to requests? Then accept a request with a question you can answer. Big overhaul to this project coming up next week, stay tuned.

[2018-04-18 17:29] smartchatco commented on #33
I think what might be a good workaround is have all agents disconnect and pending requests cleared after 12 hours or 24 hours of inactivity by agents. Seems like a heavy lift though.  That way if the agents are disconnected they will be notified they are no longer receiving requests and can connect again.  When they connect again that will reset that timeout for the skype channel.

[2018-04-19 06:51] tompaana commented on #33
Aye. We simply need to record/update the time of the last activity in respect to a connection. With requests the time the request was made should suffice.

[2018-04-24 22:28] tompaana opened #34 "Migrate to V4"
Update the bot framework packages to v4.

[2018-04-27 18:50] JorgeCupi opened #35 "Implement the Azure Table handler for MessageLog"

[2018-04-30 11:58] zexzex opened #36 "Application settings and credentials"
I published a bot. But stumbled with a problem.
   <add key = "RoutingDataStorageConnectionString" value = "" />
If I leave connection string empty, then the bot is working, but it can not accept the "@intermediatorbot accept default-user" , I get an error "Request to 'https://bot.azurewebsites.net/api/messages' failed: [500] Internal Server Error".
if I fill <add key = "RoutingDataStorageConnecti

[2018-06-05 09:26] piriej opened #38 "Replacing RootDialog, PromptDialog.Choice CallBack Never called"
Whilst experimenting with this sample, I attempted to replace the root dialog with the following (Which works in other projects). Can someone elaborate why this simple PromptDialog.Choice doesn't work in this solution? Much appreciated.

`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text.RegularExpressions;
using System.Threading.Tasks;
using Microsoft.Bot.Builde

[2018-06-06 03:58] ksankar56 commented on #34
Hi Tomi Paananen,
This botcode not working in IE11, iframe not initiated in ie11. can you please update on this.

[2018-06-06 15:53] scorpfromhell commented on #27
What if we already have a web based chat system for the call center agents? How do we connect to the Bot so that a human handoff is possible?

[2018-06-12 09:28] SonuPriya21 opened #39 "Multiple agent scenario."
Will scenario 1 will work if i have multiple agents to accept the requests sent from user?
I tried this thing but it fails if 2 or more users are on the same channel, it is saying you are already connected to user. But if users are on two different channels it is working fine.

Please help me this.

[2018-06-12 12:44] Lajeev commented on #33
@tompaana  I am having the same issue in slack channel, any update on this?

[2018-07-03 11:33] tompaana commented on #38
Deprecated. No more dialogs in v4.

[2018-07-03 11:33] #38 closed

[2018-07-03 11:34] tompaana commented on #36
Closing as this is no longer relevant, since the project has been migrated to Bot Framework v4.

[2018-07-03 11:34] #36 closed

[2018-07-03 11:34] tompaana commented on #34
Done

[2018-07-03 11:34] #34 closed

[2018-11-19 06:32] chinnivyshnavi opened #42 "Bot Framework V4 Human Handoff Middlewareset Issue"
Hello,

Please help me
I am a beginner for the Human Handover in the V4 bot framework. I am following the approach of the middleware. Also, I have the LUIS as well added as a service to my bot.
I added the middleware in my Startup.cs file as follows.

services.AddBot<BasicLUISBot>(options =>
            {
                options.CredentialProvider = new SimpleCredentialProvider(endpointService.App

[2018-11-20 05:58] chinnivyshnavi commented on #42
@tompaana can you please help me

[2019-01-24 06:19] pranavdhundhia opened #44 "Trying to implement bot sample with hands off to agent. problem with bot after hosting on azure throws error"
Throws following error tying access azure hosted bot .
{
  "error": {
    "code": "ServiceError",
    "message": "Refresh access token failed with status code: 400"
  }
}

Here is the configuration I do have used for .Bot File
{ "name": "production", "description": "", "services": [ { "type": "endpoint", "appId": "********************", "appPassword": "*************", "endpoint": "intermediatorbot

[2019-02-14 10:33] #44 closed

[2019-02-28 07:30] mutanttech commented on #27
@tompaana, I have been looking for human handoff solutions and this sample appeared first in my search. My requirement is that I have three different bots based of BFv3/C# and QnA with LUIS using Directline Channel. I am using WebChat Control for the users to interact.
Now, after understanding the need of users looking to talk to human agents, I want to implement a solution for this.
Ideally what

[2019-02-28 07:43] scorpfromhell commented on #27
What you are asking for Amit is the whole live chat platform.

You could build it using SignalR as the chathub.

We have put in nearly three years of efforts into building that.
Unfortunately it is the IP of my employer and is not open source.

You need to have different chat queues with different agents assigned to
them. Based on what query it is, the chatbot will have to handoff to the
appropria

[2019-02-28 09:33] mutanttech commented on #27
@scorpfromhell, Thanks for your response. If your employer is providing it at a product, let me know the website to check it out.

I would like to know how @tompaana thinks about this.

[2019-02-28 09:58] tompaana commented on #27
@mutanttech @scorpfromhell

The call center scenario would indeed be a completely different product/platform. I believe I should close this issue here. This project is merely a sample on how to use the message routing component.

I think the best bet to implement a call center, given that one want to use the message router, is to take the [message routing component source](https://github.com/tompa

[2019-02-28 11:36] mutanttech commented on #27
@tompaana, can you please share what call center platforms you have seen aforementioned. I would also like to take a look to gain some insights.

[2019-02-28 12:07] tompaana commented on #27
@mutanttech For instance, [LiveEngage](https://www.liveperson.com/tags/liveengage) is one that has routing capabilities out-of-the-box, but can be enhanced with custom code. [Ibex Dashboard](https://github.com/Azure/ibex-dashboard) is another OSS project by Microsoft containing enablers for this kind of a scenario (but does not do the job out-of-the-box).

[2019-03-18 21:19] colbytimmsl opened #47 "Support emojis, files, and images"
After some testing I realised that you can't send emojis, images, or files to the receiving user. Would be great to see this added as a feature. Currently if a user sends any of the above mentioned features, the receiver will get a blank message.

[2019-03-21 17:46] hshahbaz commented on #42
@chinnivyshnavi did you find a solution for this? I have a bot on .NET core that is using LUIS and QnA Maker. The last thing I want to add is to implement bot to human  handoff by opening a channel in MSTeams.

@tompaana implementation works great with the hand off I want to do but I want to integrate this in my code. I wonder if you have used his classes and could  point me in the right direction

[2019-03-21 19:50] hshahbaz opened #48 "How do you debug this locally? I want to see how the handoff works so I can port that part to my bot code."

[2019-03-25 17:20] tbuha commented on #47
From the source code I can see that it supports only text messages.
It requires changes in the _MessageRouter_ class.
And it is possible to override method **RouteMessageIfSenderIsConnectedAsync**

[line 420](https://github.com/tompaana/bot-message-routing/blob/d10cce2ca2e7e4c83143fbbfca6af8d350a7d48c/BotMessageRouting/MessageRouting/MessageRouter.cs#L420)

![image](https://user-images.githubuserc

[2019-03-26 15:02] tbuha commented on #47
@colbytimmsl
I've created simple method extension to send image/file messages

https://github.com/tbuha/intermediator-bot-sample/commit/b43075a646044149dce55329339861912e860140

[2019-04-10 13:24] saravana13 opened #49 "Live Typing Agent"
Is there a way to send agent typing event to user and vice versa?.

[2019-04-16 11:54] abhishekkant opened #50 "Error on accepting the chat request on the aggregation channel"
Hi

I have taken the default implementation for human handoff from here. It was working fine.

Then I added simple dialogs to the bot project. Now, when i attempt to use human handoff, I receive the following error:
Method not found: ‘Void Microsoft.Bot.Schema.ConversationAccount…ctor(System.Nullable`1<Boolean>, System.String, System.String, System.String, System.String, System.String)’.

The abov

[2019-06-10 11:27] mailforsachin commented on #50
I am receiving the same error.

[2019-06-10 12:50] tompaana commented on #50
This problem is caused by the mismatch of the Bot Builder version - the Nuget package of [Bot Message Router](https://github.com/tompaana/bot-message-routing) uses an older version. I will try update the package soon-ish, but in the meanwhile, here's what you can do:
- Remove the Bot Message Routing Nuget package
- Clone or copy the Bot Message Routing project (https://github.com/tompaana/bot-mess

[2019-06-10 19:08] mailforsachin commented on #50
@tompaana

I am missing something. So I used Nuget package manager to remove the Routing package form  the solution (Step 1) then cloned the sample to the same directory (2) ... added the bot msg routing project by importing the CSPROJ file. and then updated the bot builder libraries

![Removed](https://user-images.githubusercontent.com/25243792/59219716-c2e16f80-8be0-11e9-85db-2746f463d357.PNG)

[2019-06-11 08:00] mailforsachin commented on #50
@tompaana Can you please check the snapshots I send and let us know what we need to do to fix this? Appreciate your help.

[2019-06-12 07:59] mailforsachin commented on #50
Hi @tompaana Could you please assist to get this sorted?

[2019-06-12 12:41] tompaana commented on #50
![image](https://user-images.githubusercontent.com/1629215/59352091-83be3600-8d28-11e9-824c-8bb9cc9bda47.png)

Worked for me.

[2019-07-07 11:31] nouranmosallam opened #51 "Integrating with virtual assistant"
whenever I try to integrate this code with a virtual assistant code, the bot gets stuck in the handoff middleware and doesn't even enter the main dialog. Any ideas how can I solve this problem ?

[2019-07-07 12:12] nouranmosallam commented on #51
uncommented this line await next(ct).ConfigureAwait(false); in the HandoffMiddleware.cs

[2019-07-07 12:12] #51 closed

[2019-07-22 13:59] mailforsachin commented on #50
Thanks @tompaana  It is working as expected. But how do we integrate this with the Enterprise Bot template? We are having issues compiling.

[2019-07-23 22:32] nouranmosallam opened #52 "Skips OnStart"
Whenever the handoff middleware is added to the virtual assistant the bot doesn’t enter the OnStart of the MainDialog. Any idea how to fix that ?

[2019-07-30 09:44] mailforsachin commented on #52
Let me know if you get some lead on this. I have been unsuccessful to get this integrated with the VA /EBT code.

[2019-07-30 10:43] nouranmosallam commented on #52
Yes, you'll have to add this line  await next(ct).ConfigureAwait(false);  two places in the OnTurnAsync of the HandoffMiddleware.cs.

` public async Task OnTurnAsync(ITurnContext context, NextDelegate next, CancellationToken ct)
        {
            Activity activity = context.Activity;

            if (activity.Type is ActivityTypes.Message)
            {
                bool.TryParse(

[2019-07-30 10:47] #52 closed

[2019-07-30 11:02] mailforsachin commented on #52
@nouranmosallam Is it possible for you to upload the solution somewhere? Intermediator bot sample works fine for me as an independent solution but when I add this to the VA template, it doesnt even build. I have been running around for several weeks now. Would appreciate if you can help me here in any context

[2019-07-30 11:51] nouranmosallam commented on #52
Okay I uploaded the code for your here "https://github.com/nouranmosallam/HandoffInMicrosftVirtualAssitant" you might still need to edit some stuff concerning the VA itself but this should give you at least the idea of how to integrate it.

[2019-08-05 07:27] mailforsachin commented on #48
![emul](https://user-images.githubusercontent.com/25243792/62446528-8d8c7480-b780-11e9-9398-6dce2708aacf.png)
You can open up two panes in the emulator for the same.

[2019-08-05 17:52] hshahbaz commented on #48
@mailforsachin what is the other window about? Assuming I want to test this in MS Teams channel. Is the second window also running on local host?

[2019-08-06 13:39] mailforsachin commented on #48
It is simulating two "different users" in the same emulator application under two different panes.
You should be able to debug this now.

[2019-08-09 12:48] praveengov commented on #50
@tompaana Still, it is throwing the same issue when I updated bot framework to 4.5.1

[2019-08-09 13:15] mailforsachin commented on #50
@praveengov Check the thread. I faced the same issue and it was resolved.

[2019-08-09 13:18] praveengov commented on #50
@mailforsachin Yes Sachin. Just now I re-published and tested. Now it is working fine!! Thanks :)

[2019-08-12 17:12] hshahbaz commented on #39
Hi @SonuPriya21 did you find anything related to this? I started working on this and I am using MS Teams as a channel.

[2019-08-29 07:23] rungsoso commented on #50
Bot Builder Framework: 4.5.1

1. Remove the Bot Message Routing Nuget package from the solution
2. Clone or copy the Bot Message Routing project (https://github.com/tompaana/bot-message-routing)
3. Open BotMessageRouting.sln Update Nuget packet Microsoft.Bot.Builder from 4.2.2 to 4.5.1 and Rebuild project
4. Add reference BotMessageRouting.dll to solution

That will fix for me

![1567062772271](ht

[2019-09-20 13:34] praneethkolla opened #53 "Exception: "Operation returned an invalid status code 'badrequest'" is returned when Agent types @Bot GetRequests to get the pending accepted requests from Teams channel."
Hi @tompaana , can you please take a look into this issue:

1. **This issue is observed when the solution is published in Teams channel only**. (The above issue is not observed in emulator)

2. When Agent typed '@Bot GetRequests' command, agent is not able to get the pending accepted request (request which is accepted by the Agent during the time of conversation with first user) from the second us

[2019-10-16 14:43] kanazaca commented on #53
@praneethkolla I think the problem is in this [Line](https://github.com/tompaana/intermediator-bot-sample/blob/96f8af7b427294a76bfdf7d94e9154db3401760e/IntermediatorBotSample/CommandHandling/CommandHandler.cs#L173)

If you want to go past this issue, just comment it.

[2019-10-24 11:05] praneethkolla commented on #53
Thank-you @kanazaca , this solved my issue now.

[2019-10-24 11:05] #53 closed

[2020-01-24 08:13] Tushar301 opened #54 "1-to-n user-agent Communication in Bot Framework"
I have implemented the "tompaana" solution for bot-agent-handoff (1 to 1 conversation) in C#, but how can I establish a "1 to n" scenario (i.e. one agent handling multiple users after bot escalation)?

[2020-01-24 08:21] tompaana commented on #54
Hey, "tompaana" here.

You’d probably need to modify the Bot Message Routing code (https://github.com/tompaana/bot-message-routing) to support 1:many connections. You should ditch the NuGet package and add the project as such to your solution if you haven’t done so already. Note that that is just my quick guestimate - it could be that the router is fine and you need to something on the sample side

[2020-01-24 16:54] Tushar301 commented on #54
Thanks Tomi for your reply. It's a humble request to you that, can you
please provide an implementation to 1 to n communication because I don't
understand how to modify the code. I am running out of time and it's very
urgent. I'll be very thankful to you if any support you would possibly give
to me. Thanks once again. Atleast, with your email, it give me a ray of
hope.

On Fri, Jan 24, 2020 at 1:5

[2020-01-30 23:12] gtejeda opened #55 "Implement as new bot or add features to existing bot"
Greetings,
I already have a v4 bot fully operational, and now I need to add the handoff functionality, at first I thought that this worked as an independent service that "took over" the routing and redirected to the bot/human and vice versa... but as I follow this example, it appears that I need to implement it in my existing bot, agents will use the same bot to "subscribe" to this functionality..

[2020-02-03 13:01] Tushar301 commented on #54
Thanks for your reply. Will you further provide any support in achieving 1
to n communication. Because I'm finding difficulties in customizing the
code.

On Fri, Jan 24, 2020 at 1:51 PM Tomi Paananen <notifications@github.com>
wrote:

[2020-02-05 14:37] #55 closed

[2020-02-05 14:38] gtejeda commented on #55
Figured it out

[2020-02-05 18:15] gtejeda opened #56 "Exception: "Operation returned an invalid status code 'badrequest'" is returned when Agent types @Bot GetRequests to get the pending accepted requests from Telegram channel."
Greetings guys,
I'm having a similar issue to #53, but on the Telegram channel.

I tried the fix for Teams and no luck.
my stack trace looks like this:

Any help would be greatly appreciated.

`Microsoft.Bot.Connector.ConversationsExtensions.ReplyToActivityAsync(IConversations operations, String conversationId, String activityId, Activity activity, CancellationToken cancellationToken)

 at Microso

[2020-04-30 08:42] Rabia-Hasan opened #57 "Works fine locally but not when deployed."
Hello,
My bot is working fine in the emulator. I made some changes but unable to deploy the bot even though I'm in Intermediator Folder. What can be done?
Tried adding the code to own custom bot but that won't work as well.

[2020-09-24 16:42] gauravanandwhiz opened #59 "I Retrofitted Intermediator code in my ChatBot. HandoffMiddleware.OnTurnAsync(..) not getting triggered when I type utterance. is it because my code has BotController : ControllerBase class"
Hi @tompaana  ,

Problem Statement
==================

I retrofitted the intermediator bot code to my existing MS Bot Framework V4(c#) based chat bot but, agent handoff is not working:

- The HandoffMiddleware is getting successfully instantiated  during Startup but somehow, on typing any uttrance, the HandoffMiddleware.OnTurnAsync(..) event is not getting triggered.

Observation-> BotController C

[2020-09-25 06:19] gauravanandwhiz commented on #59
Hi @tompaana ,
How are you doing :)
A humble request if, you could have a view at this issue and suggest if, we can have a way around and have the Intermediate Bot code running in conjunction wit my existing Chat Bot :)

Thanks & Regards,
Gaurav

[2020-09-25 14:09] gauravanandwhiz commented on #42
@chinnivyshnavi,  @hshahbaz   did you manage to integrate the Agent HandOff with your code?
The IntermediatorBot code works fine in isolation but, when  I integrated my code(which latest version packages), the **HandoffMiddleware.OnTurnAsync(...) doesn't get triggered** as my code has a **Controller / ApiController  class** as follows.

[code]

Would appreciate if you could share whether,  you cou

[2020-09-30 08:34] gauravanandwhiz commented on #59
@tompaana , This is wonderful piece of code which works with older version of **Microsoft.Bot.Builder (4.2.2)** i.e. without using **Microsoft.Bot.Builder.Dialogs**

The Intermediator-Bot code stops working on upgrading **Microsoft.Bot.Builder to version 4.10.3**
===============================================================

I want to keep my hopes alive
=======================

I want to keep m

[2020-09-30 09:07] tompaana commented on #59
Hello and sorry for such a late reply. Unfortunately, I simply have no time to support this project right now. Perhaps the bot community has the answers.

Best regards,
Tomi

[2020-09-30 12:14] gauravanandwhiz commented on #59
@tompaana  thanks for your honest response :) 👍

I would be grateful if , you could point me to some place where an upgraded implementation of your code exists :)  as, it would help me come out of the difficult situation I am in regarding my project plan and client commitment :)

[2021-10-17 18:50] muratkakun commented on #57
I got the project and converted to .net core 3.1 made same changes and deployed to azure and it worked. i commited to development branch. you can check it.

[2021-10-21 19:26] shujaatsiddiqui commented on #56
Did you find any fix? I am also facing the same issue on teams.